<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user) do %>
  <%= label_tag(:email, 'Email:') %>
  <%= email_field(:user, :email, placeholder: 'Enter your email', autofocus: '') %>

  <%= label_tag(:username, 'Username:') %>
  <%= text_field(:user, :username, placeholder: 'Enter a unique username') %>
  
  <%= label_tag(:password, 'Password:') %>
  <%= password_field(:user, :password, placeholder: 'Enter a strong password') %>

  <%= submit_tag("Signup") %>
<% end %>


<!-- <h1>Signup Form</h1>
<form action="./" method="POST" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>
    Email: <input type="email" name="user[email]">
  </label> 
  <label>
    Username: <input type="text" name="user[username]">
  </label>
  <label>
    Password: <input type="password" name="user[password]">
  </label>
  <input type="submit" name="submit"> 
</form> -->